.header {
  width: 100vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: orange;
  color: rgb(253, 253, 86);
  box-shadow: 0 0 1rem rgba(17, 17, 17, 0.7);
  transition: all 0.1s 0.1s;
}
.header h1 {
  transition: all 0.3s 0.3s;
  text-indent: 1rem;
}
.header .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header .clicked:active {
  background: rgb(240, 240, 3);
}
.header .current-page {
  background: rgb(240, 240, 3);
}
.header .not-current-page {
  background: none;
}
.header button {
  padding: 0.5rem;
  box-shadow: 0 0 1rem none;
  margin: 0.4rem;
}
button:hover,
button:active {
  background-color: rgb(240, 240, 3);
  border-color: rgb(194, 194, 61);
  box-shadow: 0 0 0.2rem rgba(17, 17, 17, 0.3);
}
h1 span {
  color: inherit;
  transition: color 0.3s 0.01s;
}
h1 span.animate {
  color: white;
}
@media (min-width: 768px) {
  .header .buttons {
    justify-content: center;
  }
  .header button {
    padding: 0.75rem 2.5rem;
  }
}
